* {
  font-family: "Tajawal", sans-serif;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
header {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  background: #50113c;
}
header.grand {
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2.5vh;
  height: 100vh;
}
header h1::selection,
header p::selection,
header p a::selection {
  background: #fafafa;
  color: #50113c;
}
header h1,
section h1 {
  font-family: "Megrim", cursive;
  font-size: 20vh;
  font-weight: 100;
  color: #fafafa;
  margin: 0;
}
@media (max-width: 1000px) {
  header h1,
  section h1 {
    font-size: 10vw;
  }
}
@media (max-width: 600px) {
  header h1,
  section h1 {
    font-size: 4.5em;
  }
}
header p a,
header p {
  font-family: "Inconsolata", monospace;
  font-size: 2rem;
  font-weight: 700;
  color: rgba(0, 0, 0, 0.7);
  margin: 1.5rem -0.25rem;
  padding: 0.5rem 0.25rem;
}
header p a:hover,
header p a:focus {
  color: #fafafa;
  background: #e04e1c;
}
header nav a {
  display: inline-block;
  padding: 1rem;
  color: rgba(0, 0, 0, 0.7);
  display: inline-block;
  text-decoration: none;
  position: relative;
}
header nav a svg {
  width: 3rem;
  height: 3rem;
}

header nav a:hover,
header nav a:focus {
  background: #e04e1c;
  --highlight-fg: #e04e1c;
  color: #fafafa;
  --highlight-bg: #fafafa;
  outline: none;
  opacity: 1;
  transition: 0.2s ease opacity;
}

section.grand {
  display: flex;
  flex-direction: row-reverse;
  background: #50113c;
}
section.grand:nth-child(2n) {
  flex-direction: row;
  background: #e04e1c;
}
@media (max-width: 600px) {
  section.grand:nth-child(n) {
    flex-direction: column;
  }
}
section.grand h1 {
  position: sticky;
  top: 0;
  height: 100vh;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5vh;
  box-sizing: border-box;
  flex-shrink: 0;
}

@media (max-width: 600px) {
  section.grand h1 {
    position: static;
    width: 100%;
  }
}
section h1::selection {
  background: #fafafa;
  color: #e04e1c;
}
section .content {
  padding: 3rem;
  width: 100%;
  box-sizing: border-box;
  background: #fff;
}
@media (max-width: 800px) {
  section .content {
    padding: 2rem 1rem;
  }
}
section h2,
main h2 {
  font-family: "Inconsolata", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  margin: 4rem 0 1rem;
  color: #111;
  text-transform: uppercase;
}
section a,
main a {
  color: #e04e1c;
  padding-top: 0.4rem;
}
section a:hover,
section a:focus,
main a:hover,
main a:focus {
  outline: none;
  color: #fafafa;
  background: #e04e1c;
}
section *::selection,
main *::selection {
  color: #fafafa;
  background: #e04e1c;
}
section a::selection,
main a::selection {
  color: #222;
  background: #e04e1c;
}

.content :first-child {
  margin-top: 0;
}
section p,
main p {
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 1.6rem 0 0;
  color: #222;
}
@media (max-width: 800px) {
  section p,
  main p {
    font-size: 1.3rem;
  }
}
section h2 + p,
main h2 + p {
  margin-top: 0.6rem;
}

section ul {
  padding-left: 2rem;
}
section ul li,
main ul li {
  list-style: none;
  position: relative;
  font-size: 1.2rem;
  line-height: 1.5;
  margin: 0.8rem 0 0;
  color: #222;
}
@media (max-width: 800px) {
  section ul li,
  main ul li {
    font-size: 1.3rem;
  }
}
section ul li:after,
main ul li:after {
  position: absolute;
  top: 0.9rem;
  left: calc(-1rem - 1px);
  display: block;
  width: 2px;
  height: 2px;
  background: #999;
  content: "";
  pointer-events: none;
}

main > :not(img) {
  max-width: 680px;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 800px) {
  main > :not(img) {
    max-width: none;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    margin-left: auto;
    margin-right: auto;
  }
}

main ul {
  padding-left: 6rem;
}

@media (max-width: 800px) {
  main ul {
    padding-left: 3rem;
  }
}

section hr,
main hr {
  margin: 5rem auto;
  border: 0;
  border-top: 2px solid #e04e1c;
  padding: 0;
  width: 5rem;
}

@media (max-width: 800px) {
  section hr,
  main hr {
    margin: 4.5rem auto;
  }
}

main > img {
  display: block;
  max-width: 100%;
  margin: 3rem auto;
}

main {
  margin-bottom: 6rem;
}
